<aside>
  <ul>
    <li><a href="https://soundcloud.com/noisebuilder">SoundCloud</a></li>
    <li><a href="https://facebook.com/noisebuilder">Facebook</a></li>
    <li><a href="https://noisebuilder.com">Site officiel</a></li>
  </ul>
</aside>